In [2]:
import sqlite3
import json
import pymysql

In [29]:
import mysql.connector
connection = pymysql.connect(host='127.0.0.1',
                             user='root',
                             password='12345678',
                             db='flights')

c = connection
cursor = c.cursor()

In [99]:
cursor.execute("""UPDATE users
            SET Password = '{}'
            WHERE User_ID = {}
                """.format('lol', 5))
connection.commit()

In [90]:
import requests
response = requests.put("http://127.0.0.1:5000/reset_password", 
                                                json = {'username': 'steve', 
                                                        'password': password,
                                                        'email': 'steve'})

In [97]:
def reset_password(username, email): 
    cursor = connection.cursor()
    try:
        _result = cursor.execute("""SELECT User_ID FROM Users WHERE User_Name='{}' AND Email = '{}' """.format(username, email))
        user_id = transform(cursor)[0].get('User_ID')
    except: 
        _result = 0

    if _result > 0: 
        cursor.execute("""UPDATE users
            SET Password = 123
            WHERE User_ID = {}
                """.format(user_id))
        connection.commit()
        result = True
    
    return result
    
reset_password('John','test')

True

In [89]:
len(l)

1

In [61]:
l[0].get('User_Name')

'John'

In [12]:
c.cursor().execute(""" INSERT INTO users (User_Name, Creation_Date, Last_Login, Password, Email)\
                 VALUES ('{}',CURRENT_TIMESTAMP,NULL,'{}','{}');
                 """.format('Steve','123','steve@gmail.com'))

c.commit()
c.close()

In [ ]:
cur.comm

In [27]:
c = cur.execute("""SELECT User_ID FROM users WHERE User_Name = 'John';""")

2

In [93]:
c.execute("SELECT DISTINCT User_Name FROM users")
columns = columns = [d[0] for d in c.description]
[dict(zip(columns, row)) for row in c.fetchall()]

c.close()

In [58]:

def get_rows_as_dicts(cursor, table, y):
    cursor.execute("""SELECT User_ID FROM Users WHERE User_Name='{}' AND Password = '{}' """.format(table, y))
    columns = [d[0] for d in cursor.description]
    return [dict(zip(columns, row)) for row in cursor.fetchall()]

r = get_rows_as_dicts(c,"John","12345678")
r

[{'User_ID': 'user123'}]

In [41]:
r[0]

{'User_ID': 'user123',
 'User_Name': 'John',
 'Creation_Date': datetime.datetime(2023, 12, 3, 23, 39, 46),
 'Last_Login': None,
 'Password': '12345678',
 'Email': 'john@example.com'}

In [64]:
import requests


response = requests.post("http://127.0.0.1:5000/login", json = {'username': 'John', 'password':'123145678'})

In [15]:
import requests

response = requests.put("http://127.0.0.1:5000/create", json = {'username': 'John', 'password':'123145678','email':'test'})

In [17]:
response.json().get('status')

200

In [72]:
import pandas as pd 
pd.DataFrame(response.json())

,Arrival_City,Available_Seats,Departure_City,Departure_Date,Flight_Company,Flight_ID
0,CityB,100,CityA,"Sun, 10 Dec 2023 08:00:00 GMT",AirlineX,1
1,CityD,150,CityC,"Tue, 12 Dec 2023 10:30:00 GMT",AirlineY,2

In [56]:
response.status_code

200

In [30]:
response.status_code

500

In [26]:
if response.status_code == 200:
    print(response.text)

In [91]:
response.json().get('creation_date')

'2023-12-04 07:06:05'