In [74]:
import sqlite3
import json
import pymysql

In [85]:
import mysql.connector
connection = pymysql.connect(host='127.0.0.1',
                             user='root',
                             password='12345678',
                             db='flight',
                             charset='utf8mb4')

c = connection
c = c.cursor()

In [87]:
c.execute(""" INSERT INTO users (User_Name, Creation_Date, Last_Login, Password, Email)\
                 VALUES ('{}',CURRENT_TIMESTAMP,NULL,'{}','{}');
                 """.format('Steve','123','steve@gmail.com'))

1

In [93]:
c.execute("SELECT DISTINCT User_Name FROM users")
columns = columns = [d[0] for d in c.description]
[dict(zip(columns, row)) for row in c.fetchall()]

c.close()

In [58]:

def get_rows_as_dicts(cursor, table, y):
    cursor.execute("""SELECT User_ID FROM Users WHERE User_Name='{}' AND Password = '{}' """.format(table, y))
    columns = [d[0] for d in cursor.description]
    return [dict(zip(columns, row)) for row in cursor.fetchall()]

r = get_rows_as_dicts(c,"John","12345678")
r

[{'User_ID': 'user123'}]

In [41]:
r[0]

{'User_ID': 'user123',
 'User_Name': 'John',
 'Creation_Date': datetime.datetime(2023, 12, 3, 23, 39, 46),
 'Last_Login': None,
 'Password': '12345678',
 'Email': 'john@example.com'}

In [64]:
import requests


response = requests.post("http://127.0.0.1:5000/login", json = {'username': 'John', 'password':'123145678'})

In [66]:
response = requests.get("http://127.0.0.1:5000/overview")

In [72]:
import pandas as pd 
pd.DataFrame(response.json())

,Arrival_City,Available_Seats,Departure_City,Departure_Date,Flight_Company,Flight_ID
0,CityB,100,CityA,"Sun, 10 Dec 2023 08:00:00 GMT",AirlineX,1
1,CityD,150,CityC,"Tue, 12 Dec 2023 10:30:00 GMT",AirlineY,2

In [56]:
response.status_code

200

In [30]:
response.status_code

500

In [26]:
if response.status_code == 200:
    print(response.text)

In [91]:
response.json().get('creation_date')

'2023-12-04 07:06:05'