In [15]:
import sqlite3
import json
import pymysql

In [17]:
import mysql.connector
connection = pymysql.connect(host='127.0.0.1',
                             user='root',
                             password='12345678',
                             db='flights')

c = connection
cursor = c.cursor()

In [69]:
def transform(cursor):
     columns = [d[0] for d in cursor.description]
     result = [dict(zip(columns, row)) for row in cursor.fetchall()]
     return result 

cursor = connection.cursor()

cursor.execute("SELECT DISTINCT Departure_City FROM flights")
result = transform(cursor)
result = pd.DataFrame(result).Departure_City.to_dict()
result

{0: 'Korea',
 1: 'Paris',
 2: 'Finland',
 3: 'Philippines',
 4: 'China',
 5: 'Canada',
 6: 'Japan',
 7: 'HKSAR',
 8: 'Mexico',
 9: 'United States',
 10: 'Thailand',
 11: 'Russia',
 12: 'Hugary'}

In [39]:
import pandas as pd 
pd.DataFrame(l).Departure_City.to_dict()

{0: 'Korea',
 1: 'Paris',
 2: 'Finland',
 3: 'Philippines',
 4: 'China',
 5: 'Canada',
 6: 'Japan',
 7: 'HKSAR',
 8: 'Mexico',
 9: 'United States',
 10: 'Thailand',
 11: 'Russia',
 12: 'Hugary'}

In [90]:
import requests
response = requests.put("http://127.0.0.1:5000/reset_password", 
                                                json = {'username': 'steve', 
                                                        'password': password,
                                                        'email': 'steve'})

In [97]:
def reset_password(username, email): 
    cursor = connection.cursor()
    try:
        _result = cursor.execute("""SELECT User_ID FROM Users WHERE User_Name='{}' AND Email = '{}' """.format(username, email))
        user_id = transform(cursor)[0].get('User_ID')
    except: 
        _result = 0

    if _result > 0: 
        cursor.execute("""UPDATE users
            SET Password = 123
            WHERE User_ID = {}
                """.format(user_id))
        connection.commit()
        result = True
    
    return result
    
reset_password('John','test')

True

In [89]:
len(l)

1

In [61]:
l[0].get('User_Name')

'John'

In [12]:
c.cursor().execute(""" INSERT INTO users (User_Name, Creation_Date, Last_Login, Password, Email)\
                 VALUES ('{}',CURRENT_TIMESTAMP,NULL,'{}','{}');
                 """.format('Steve','123','steve@gmail.com'))

c.commit()
c.close()

In [ ]:
cur.comm

In [27]:
c = cur.execute("""SELECT User_ID FROM users WHERE User_Name = 'John';""")

2

In [93]:
c.execute("SELECT DISTINCT User_Name FROM users")
columns = columns = [d[0] for d in c.description]
[dict(zip(columns, row)) for row in c.fetchall()]

c.close()

In [58]:

def get_rows_as_dicts(cursor, table, y):
    cursor.execute("""SELECT User_ID FROM Users WHERE User_Name='{}' AND Password = '{}' """.format(table, y))
    columns = [d[0] for d in cursor.description]
    return [dict(zip(columns, row)) for row in cursor.fetchall()]

r = get_rows_as_dicts(c,"John","12345678")
r

[{'User_ID': 'user123'}]

In [1]:
import requests
requests.get("http://127.0.0.1:5000/origins")

In [12]:
response = requests.get("http://127.0.0.1:5000/overview")
response.json()

[{'Arrival_City': 'HKSAR',
  'Available_Seats': 150,
  'Departure_City': 'Korea',
  'Departure_Date': 'Sat, 30 Dec 2023 21:30:00 GMT',
  'Flight_Company': 'AirlineA',
  'Flight_ID': 102},
 {'Arrival_City': 'Canada',
  'Available_Seats': 150,
  'Departure_City': 'Paris',
  'Departure_Date': 'Sun, 26 Nov 2023 13:30:00 GMT',
  'Flight_Company': 'AirlineA',
  'Flight_ID': 103},
 {'Arrival_City': 'Australia',
  'Available_Seats': 150,
  'Departure_City': 'Finland',
  'Departure_Date': 'Mon, 13 Nov 2023 11:30:00 GMT',
  'Flight_Company': 'AirlineQ',
  'Flight_ID': 104},
 {'Arrival_City': 'New Zealand',
  'Available_Seats': 150,
  'Departure_City': 'Finland',
  'Departure_Date': 'Sat, 11 Nov 2023 04:30:00 GMT',
  'Flight_Company': 'AirlineD',
  'Flight_ID': 109},
 {'Arrival_City': 'Dubai',
  'Available_Seats': 150,
  'Departure_City': 'Philippines',
  'Departure_Date': 'Sun, 10 Dec 2023 10:30:00 GMT',
  'Flight_Company': 'AirlineO',
  'Flight_ID': 143},
 {'Arrival_City': 'Japan',
  'Available_Seats': 150,
  'Departure_City': 'China',
  'Departure_Date': 'Sun, 03 Dec 2023 02:30:00 GMT',
  'Flight_Company': 'AirlineA',
  'Flight_ID': 200},
 {'Arrival_City': 'United Kingdoms',
  'Available_Seats': 150,
  'Departure_City': 'Canada',
  'Departure_Date': 'Tue, 12 Dec 2023 02:30:00 GMT',
  'Flight_Company': 'AirlineY',
  'Flight_ID': 201},
 {'Arrival_City': 'Norway',
  'Available_Seats': 150,
  'Departure_City': 'Japan',
  'Departure_Date': 'Sun, 03 Dec 2023 05:30:00 GMT',
  'Flight_Company': 'AirlineQ',
  'Flight_ID': 203},
 {'Arrival_City': 'Hong Kong',
  'Available_Seats': 150,
  'Departure_City': 'Japan',
  'Departure_Date': 'Fri, 15 Dec 2023 03:30:00 GMT',
  'Flight_Company': 'AirlineY',
  'Flight_ID': 208},
 {'Arrival_City': 'Switzerland',
  'Available_Seats': 150,
  'Departure_City': 'Japan',
  'Departure_Date': 'Fri, 01 Dec 2023 10:30:00 GMT',
  'Flight_Company': 'AirlineO',
  'Flight_ID': 221},
 {'Arrival_City': 'Japan',
  'Available_Seats': 150,
  'Departure_City': 'HKSAR',
  'Departure_Date': 'Mon, 18 Dec 2023 23:30:00 GMT',
  'Flight_Company': 'AirlineD',
  'Flight_ID': 230},
 {'Arrival_City': 'Brazil',
  'Available_Seats': 150,
  'Departure_City': 'HKSAR',
  'Departure_Date': 'Tue, 12 Dec 2023 02:30:00 GMT',
  'Flight_Company': 'AirlineC',
  'Flight_ID': 231},
 {'Arrival_City': 'Japan',
  'Available_Seats': 150,
  'Departure_City': 'Mexico',
  'Departure_Date': 'Wed, 13 Dec 2023 14:30:00 GMT',
  'Flight_Company': 'AirlineY',
  'Flight_ID': 294},
 {'Arrival_City': 'Italy',
  'Available_Seats': 150,
  'Departure_City': 'United States',
  'Departure_Date': 'Wed, 20 Dec 2023 02:30:00 GMT',
  'Flight_Company': 'AirlineY',
  'Flight_ID': 302},
 {'Arrival_City': 'Vancouver',
  'Available_Seats': 150,
  'Departure_City': 'Canada',
  'Departure_Date': 'Tue, 07 Nov 2023 20:30:00 GMT',
  'Flight_Company': 'AirlineY',
  'Flight_ID': 306},
 {'Arrival_City': 'United States',
  'Available_Seats': 100,
  'Departure_City': 'Korea',
  'Departure_Date': 'Tue, 12 Dec 2023 10:45:00 GMT',
  'Flight_Company': 'AirlineX',
  'Flight_ID': 311},
 {'Arrival_City': 'Dubai',
  'Available_Seats': 150,
  'Departure_City': 'Thailand',
  'Departure_Date': 'Thu, 09 Nov 2023 18:00:00 GMT',
  'Flight_Company': 'AirlineQ',
  'Flight_ID': 403},
 {'Arrival_City': 'Dubai',
  'Available_Seats': 150,
  'Departure_City': 'HKSAR',
  'Departure_Date': 'Thu, 09 Nov 2023 22:30:00 GMT',
  'Flight_Company': 'AirlineD',
  'Flight_ID': 492},
 {'Arrival_City': 'HKSAR',
  'Available_Seats': 150,
  'Departure_City': 'Russia',
  'Departure_Date': 'Sun, 31 Dec 2023 01:30:00 GMT',
  'Flight_Company': 'AirlineC',
  'Flight_ID': 501},
 {'Arrival_City': 'HKSAR',
  'Available_Seats': 150,
  'Departure_City': 'Hugary',
  'Departure_Date': 'Sun, 03 Dec 2023 02:30:00 GMT',
  'Flight_Company': 'AirlineC',
  'Flight_ID': 604}]

In [48]:
import requests

response = requests.put("http://127.0.0.1:5000/create", json = {'username': 'John', 'password':'123145678','email':'test'})

In [49]:
response.json().get('status')

200

In [50]:
import pandas as pd 
pd.DataFrame(response.json())

ValueError: If using all scalar values, you must pass an index

In [56]:
response.status_code

200

In [30]:
response.status_code

500

In [26]:
if response.status_code == 200:
    print(response.text)

In [91]:
response.json().get('creation_date')

'2023-12-04 07:06:05'